/* Colors */
:root {
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #695cfe;
    --primary-color-light: #f6f5ff;
    --text-color1: #707070;
    --text-color2: #212121;
    --toggle-color: #ddd;
}

::-webkit-scrollbar {
    background-color: #e4e9f7;
    width: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-color);
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

/* !sidebar */
.sidebar {
    width: 270px;
    height: 100%;
    background-color: var(--sidebar-color);
    position: fixed;
    top: 0;
    left: -280px;
    z-index: 9999;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.sidebar.show {
    left: 0;
}

.sidebar .sidebar-header {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    margin-bottom: 20px;
    padding: 30px 20px 20px;
    position: relative;
    box-sizing: border-box;
}

.sidebar .sidebar-header .close {
    box-sizing: border-box;
    display: flex;
    position: absolute;
    top: 50%;
    right: -10px;
    width: 25px;
    height: 25px;
    color: var(--sidebar-color);
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.sidebar .sidebar-header .close i {
    margin: auto;
}

.sidebar-header .sidebar-header-text {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
}

.sidebar-header-text h2 {
    font-size: 16px;
    line-height: 0;
    margin-bottom: 18px;
    color: var(--text-color2);
}

.sidebar-header-text span {
    display: block;
    font-size: 13px;
    font-weight: 600;
    color: var(--primary-color);
    line-height: 0;
}

.sidebar-header .sidebar-header-text::before {
    content: '';
    width: 40px;
    height: 40px;
    background-image: url(../assets/me.jpg);
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.sidebar .sidebar-main {
    padding: 0 20px;
    box-sizing: border-box;
}

.sidebar-main li {
    box-sizing: border-box;
    display: block;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.sidebar-main li:not(:last-child) {
    margin-bottom: 12px;
}

.sidebar-main li a {
    color: var(--text-color1);
    font-size: 14px;
    font-weight: 600;
    display: block;
    transition: color .5s;
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -ms-transition: color .5s;
    -o-transition: color .5s;
}

.sidebar-main li a i {
    margin-right: 20px;
    width: 10px;
}

.sidebar-main li:hover {
    background-color: var(--primary-color);
}

.sidebar-main li:hover a {
    color: var(--primary-color-light);
}

.sidebar-main li.active {
    background-color: var(--primary-color);
}

.sidebar-main li.active a {
    color: var(--primary-color-light);
}


/* !banner */
.banner {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 30px 100px;
    position: relative;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.banner.move {
    margin-left: 270px;
}

.banner .banner-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    position: relative;
}

.banner-top .sidebar-menu {
    display: block;
    font-size: 25px;
    cursor: pointer;
    z-index: 999;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.banner-top .sidebar-menu.hidden {
    opacity: 0;
}

.banner .banner-main {
    height: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    justify-content: center;
    align-items: center;
}

.banner .banner-main .img {
    display: flex;
    justify-content: center;
}

.banner .banner-main .img img {
    width: 100%;
}

.banner-main .col-2 .small {
    font-size: 14px;
    display: block;
    color: var(--text-color1);
    font-weight: 600;
}

.banner-main .col-2 h1 {
    font-size: 75px;
    line-height: 80px;
    font-weight: normal;
    color: var(--text-color2);
    text-shadow: 0 0 5px rgba(0, 0, 0, .3);
    margin-bottom: -7px;
}

.banner-main .col-2 h1 span {
    font-weight: 600;
    color: var(--primary-color);
}

.banner-main .col-2 p {
    font-size: 15px;
    line-height: 24px;
    color: var(--text-color1);
    margin: 20px 0;
    max-width: 80%;
}

.col-2 a {
    margin-top: 30px;
    display: inline-block;
    font-weight: 600;
    box-sizing: border-box;
    padding: 10px 30px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border: 2px solid var(--primary-color);
    box-shadow: 5px 5px 7px rgba(105, 92, 254, .9);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.col-2 a:hover {
    background-color: transparent;
    color: var(--primary-color);
    transform: scale(.95);
    -webkit-transform: scale(.95);
    -moz-transform: scale(.95);
    -ms-transform: scale(.95);
    -o-transform: scale(.95);
}

.banner .down-arrow {
    display: block;
    font-size: 18px;
    width: 35px;
    height: 35px;
    display: flex;
    background-color: #fff;
    position: absolute;
    left: 50%;
    bottom: 50px;
    box-shadow: 2px 2px 3px #695cfe;
    animation: animate-down .7s infinite alternate;
    transform: translateX(-50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-animation: animate-down .7s infinite alternate;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.down-arrow i {
    margin: auto;
    font-weight: 800;
    color: var(--primary-color);
}

@keyframes animate-down {
    to {
        bottom: 60px;
    }
}

.service {
    box-sizing: border-box;
    padding: 120px 100px;
}

.service .provide {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-items: center;
    justify-content: space-between;
    margin-bottom: 120px;
}

.provide .provider {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.provider .col-2 {
    display: flex;
    flex-direction: column;
}

.provider .col-2 h3 {
    font-size: 35px;
    font-weight: bold;
    color: var(--primary-color);
}

.provider .col-2 span {
    font-size: 16px;
    color: var(--text-color2);
    font-weight: 500;
}

.provide .provide-text p {
    font-size: 25px;
    color: var(--text-color2);
    line-height: 35px;
    font-weight: 600;
}


.service .my-service {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 50px;
}

.my-service .col-3 {
    flex: 1;
    min-width: 250px;
    text-align: center;
    background-color: var(--body-color);
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, .15), -6px -6px 10px -1px rgba(255, 255, 255, .7);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-sizing: border-box;
    padding: 40px 30px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.my-service .col-3 i {
    font-size: 45px;
    display: block;
    margin-bottom: 20px;
    color: var(--primary-color);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.my-service .col-3 h3 {
    font-size: 20px;
    color: var(--text-color2);
    margin-bottom: 5px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.my-service .col-3 p {
    font-size: 14px;
    color: var(--text-color1);
    /* font-weight: 600; */
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.my-service .col-3:hover i,
.my-service .col-3:hover h3,
.my-service .col-3:hover p {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.my-service .col-3:hover {
    background-color: #695cfe;
}

.my-service .col-3:hover i {
    color: var(--sidebar-color);
}

.my-service .col-3:hover h3 {
    color: var(--sidebar-color);
}

.my-service .col-3:hover p {
    color: var(--body-color);
}

.col-3 .text {
    box-sizing: border-box;
    padding: 0 10px;
}

.col-3 .text h3 {
    font-size: 19px;
    margin-bottom: 5px;
    color: var(--text-color2);
}

.col-3 .text p {
    font-size: 13px;
    color: var(--text-color1);
}

.contact-me {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.contact-me a {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: linear-gradient(45deg, #695cfe, #b744fa);
    box-sizing: border-box;
    padding: 10px 35px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, .3), -6px -6px 10px rgba(255, 255, 255, .25);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.contact-me a:hover {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
}

.service .detail {
    margin-bottom: 100px;
    text-align: center;
}

.detail h2 {
    font-size: 35px;
    color: var(--text-color2);
    margin-bottom: 15px;
    position: relative;
    padding-bottom: 10px;
    display: inline-block;
}

.detail h2::after {
    content: '';
    width: 50%;
    height: 5px;
    background: var(--primary-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.detail p {
    font-size: 15px;
    line-height: 27px;
    color: var(--text-color1);
    width: 90%;
    margin: auto;
}

.service .testimonial {
    width: 100%;
}

.testimonial>h2 {
    font-size: 35px;
    color: var(--text-color2);
    display: inline-block;
    font-weight: bold;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.testimonial>h2::after {
    content: '';
    width: 50%;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--primary-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.testimonial .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 70px;
}

.row .col-3 {
    flex: 1;
    min-width: 250px;
    padding: 40px 30px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, .15), -6px -6px 10px rgba(255, 255, 255, .25);
}

.row .col-3>i {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.row .col-3 p {
    font-size: 13px;
    line-height: 21px;
    color: var(--text-color1);
    margin-bottom: 20px;
}

.row .col-3 .rating {
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 25px;
    color: var(--primary-color);
}

.row .col-3 .rating i {
    margin-right: 5px;
}

.row .col-3 .image-user {
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin: 0 auto 10px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.row .col-3 .image-user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row .col-3>h3 {
    font-size: 16px;
}


/* !footer */
footer {
    width: 100%;
    padding: 80px 100px 20px;
    box-sizing: border-box;
    background-color: var(--text-color2);
}

footer .footer-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-content .footer-content-about {
    flex-basis: 30%;
    min-width: 200px;
}

.footer-content-about,
.footer-content-referrence,
.footer-content-contact,
.footer-content-social {
    margin-bottom: 35px;
}

.footer-content-about h3,
.footer-content-referrence h3,
.footer-content-contact h3,
.footer-content-social h3 {
    font-size: 18px;
    color: var(--primary-color-light);
    margin-bottom: 15px;
    position: relative;
    display: inline-block;
    padding-bottom: 6px;
}

.footer-content-about h3::after,
.footer-content-referrence h3::after,
.footer-content-contact h3::after,
.footer-content-social h3::after {
    content: '';
    width: 50%;
    height: 4px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.footer-content-about p {
    font-size: 14px;
    color: var(--body-color);
}

.footer-content .footer-content-referrence {
    flex-basis: 20%;
    min-width: 200px;
    text-align: center;
}

.footer-content-referrence ul li a {
    font-size: 14px;
    color: var(--body-color);
}

.footer-content .footer-content-contact {
    flex-basis: 20%;
    min-width: 200px;
}

.footer-content-contact ul li a {
    color: var(--body-color);
    font-size: 14px;
}

.footer-content-contact ul li a i {
    margin-right: 10px;
}

.footer-content-contact ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-content .footer-content-social {
    flex-basis: 20%;
    min-width: 200px;
}

.footer-content-social ul {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.footer-content-social ul li a {
    display: grid;
    place-items: center;
    width: 30px;
    height: 30px;
    font-size: 16px;
    color: var(--body-color);
    background: #323232;
    box-sizing: border-box;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

footer .line {
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, .3);
    margin: 15px 0 20px;
}

footer span {
    font-size: 14px;
    display: block;
    color: var(--text-color1);
    text-align: center;
}

.top-arrow {
    display: block;
    font-size: 18px;
    width: 35px;
    height: 35px;
    display: flex;
    background-color: #000;
    position: fixed;
    bottom: -30px;
    right: 30px;
    border-radius: 50%;
    opacity: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.top-arrow i {
    margin: auto;
    font-weight: 800;
    color: var(--sidebar-color);
}

.top-arrow.show {
    opacity: 1;
    bottom: 30px;
}

/* !responsive breakpoints */
@media screen and (max-width: 1010px) {
    .banner .banner-main .img {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .banner {
        padding: 25px 50px;
    }
    
    .banner .banner-main {
        display: flex;
    }

    .banner.move {
        margin-left: 0px;
    }

    .service {
        padding: 120px 50px;
    }

    .provider .col-2 h3 {
        font-size: 30px;
    }

    .provider .col-2 span {
        font-size: 15px;
    }

    .provide .provide-text p {
        text-align: center;
        font-size: 20px;
        line-height: 30px;
    }

    .service .my-service,
    .testimonial .row {
        gap: 0px;
    }

    .service .my-service .col-3,
    .testimonial .row .col-3{
        margin-bottom: 50px;
    }

    footer {
        padding: 80px 50px 20px;
    }

    footer .footer-content .footer-content-about,
    footer .footer-content .footer-content-referrence,
    footer .footer-content .footer-content-contact,
    footer .footer-content .footer-content-social {
        align-items: center;   
        text-align: center;
        flex-basis: 100%;
    }

    footer .footer-content .footer-content-social ul {
        justify-content: center;
    }

    .footer-content-about h3::after,
    .footer-content-referrence h3::after,
    .footer-content-contact h3::after,
    .footer-content-social h3::after {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    
    .footer-content-about h3,
    .footer-content-referrence h3,
    .footer-content-contact h3,
    .footer-content-social h3 {
        text-align: center;
        margin: 0 auto 10px;
    }
}

@media screen and (max-width: 500px) {
    .banner {
        padding: 20px;
    }

    .service {
        padding: 100px 20px;
    }


    .banner-top .sidebar-menu {
        font-size: 23px;
    }

    .banner-main .col-2 .small {
        font-size: 12px;
    }

    .banner-main .col-2 h1 {
        font-size: 60px;
        line-height: 65px;
        margin-bottom: 15px;
    }

    .banner-main .col-2 p {
        font-size: 14px;
        line-height: 22px;
        margin: 10px 0;
    }

    .col-2 a {
        padding: 7px 20px;
        font-size: 13px;
    }

    .col-2 .wrapper {
        display: flex;
        justify-content: center;
    }

    .detail h2,
    .testimonial h2 {
        font-size: 25px;
    }

    .detail p {
        font-size: 13px;
        width: 100%;
        line-height: 24px;
    }


    .service .provide {
        display: flex;
        flex-direction: column;
    }

    .provide .provider {
        margin-bottom: 35px;
    }

    .provider .col-2 h3 {
        font-size: 27px;
    }

    .provider .col-2 span {
        font-size: 14px;
    }

    .contact-me a {
        font-size: 13px;
        padding: 9px 25px;
    }

    .provide .provide-text p {
        text-align: center;
        font-size: 14px;
        line-height: 25px;
    }

    .banner-main .down-arrow {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }

    .row .col-3>i {
        font-size: 40px;
    }

    .row .col-3 p {
        font-size: 12px;
        line-height: 20px;
        width: 80%;
        margin: 0 auto 20px;
    }

    footer {
        padding: 80px 20px 20px;
    }

    .footer-content-about h3,
    .footer-content-referrence h3,
    .footer-content-contact h3,
    .footer-content-social h3 {
        font-size: 16px;
    }

    .footer-content-contact ul li:not(:last-child) {
        margin-bottom: 0px;
    }

    .footer-content-about p,
    .footer-content-referrence ul li a,
    .footer-content-contact ul li a {
        font-size: 12px;
    }

    .footer-content-social ul li a {
        font-size: 14px;
    }

    .footer-content-social ul {
        gap: 0px;
    }

    .footer-content-social ul li {
        margin-right: 15px;
    }
}

@media screen and (max-width: 400px) {
    .banner {
        height: 93vh;
    }
    .banner .banner-main {
        height: 70%;
    }
    
    .banner-main .col-2 h1 {
        font-size: 40px;
        line-height: 45px;
    }

    .banner-main .col-2 p {
        width: 90%;
    }

    .col-2 a {
        padding: 7px 20px;
        font-size: 12px;
    }

    .sidebar-main li {
        transform: scaleY(1.1);
        -webkit-transform: scaleY(1.1);
        -moz-transform: scaleY(1.1);
        -ms-transform: scaleY(1.1);
        -o-transform: scaleY(1.1);
    }
}